body {
    background-color:#fff0ff
}

.panels {
    background-color:#ffe0ff;
}

.customNavbar {
    background-color:#262626
}

.customLink {
    color: #212529;
    text-decoration: none;
}

.customLink:hover{
    color: #595959;
    text-decoration: none;
}